@media screen  and (max-width:2280px){
    body{
        background-color: lightgreen;
    }
    .image1{
        display: flex;
    }
    .img{
        width: 500px;
        height: 500px;
    }
    
}

@media screen  and (max-width:880px){
    body{
        background-color: blue;
    }
    .image1{
        display: flex;
        flex-wrap: wrap;
    }
    .img{
        width: 300px;
        height: 300px;
    }
    
}




@media screen  and (max-width:780px){
    body{
        background-color: white;
    }
    .image1{
        display: flex;
    }
    .img{
        width: 200px;
        height: 200px;
    }
}



